div .container{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin: 2rem;
} 
.container > *{
    min-width: 25rem;
    max-width: 40rem;
}
img{
    border-radius: 3rem;
    flex: 1 0;
    object-fit: cover;
    height: 25rem;
    margin: 1rem;
}
.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex:1 0;
    border-radius: 3rem;
    padding:2rem;
    color: black;
    margin-left: 1rem;
}

.details .header{
    display: flex;
    justify-content: space-between;
    text-align: center;   
}

.details .name{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
 
.details .price{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
button{
    border-radius: 0.5rem;
    text-align: center;
}